// colors
$color-primary: #7ed56f;
$color-primary-dark-1: #28b485;
$color-primary-dark: #000000f2;
$color-gark-grey:  #777;
$color-black: #000;
$color-white: #fff;
$color-red: #e22626;
$color-light-grey: #f7f7f7;

//Grid 
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;