
// header
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.949)), url(../assets/images/baech.webp);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // logo container
    &__logo-box {
        position: absolute;
        top: 40px;
        left: 4rem;
    }
    // logo image
    &__logo {
    height: 3.5rem;
    border-radius: 6rem;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

// h1 div 
    &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
}
