// animations
// outdoo animation 
@keyframes moveInLeft {
    0% {
        opacity: 0;
    transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

100% {
    opacity: 1;
    transform: translate(0);
}
}

// is where life animation 
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// logo animations
@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotateY(0);
    }

    100% {
        opacity: 1;
        transform:rotate(300deg);
    }
}

// button animation
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}